* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "robot" sans-serif;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}
.modal-example-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.button {
  cursor: pointer;
  width: 150px;
  height: 45px;
  border-radius: 13px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease all;
  background: #e2e2e2;
  font-size: 1rem;
  color: #2e2e2e;
  margin: 5px;
}
.button:hover {
  transform: scale(0.99) translateY(-1px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}
.top {
  align-items: flex-start;
}
.center {
  align-items: center;
}
.bottom {
  align-items: flex-end;
}

.modal-box {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  border-radius: 0.5rem;
  min-height: 400px;
  margin: 32px;
  overflow-y: auto;
  max-height: calc(100% - 64px);
  width: calc(100% - 64px);
  max-width: calc(100% - 64px);
}
.xs {
  max-width: 444px;
}
.sm {
  max-width: 600px;
}
.md {
  max-width: 900px;
}
.lg {
  max-width: 1200px;
}
.xl {
  max-width: 1536px;
}

.modal-header {
  min-height: 40px;
  border-bottom: 0.5px solid #e2e2e2;
  width: 100%;
  padding: 5px;
}
.modal-content {
  position: relative;
  overflow-y: auto;
  min-height: calc(400px - 80px);
  padding: 15px;
}
.modal-footer {
  position: relative;
  bottom: 0;
  min-height: 40px;
  border-top: 0.5px solid #e2e2e2;
  width: 100%;
  padding: 15px;
}

.submit {
  background: #2e2e2e;
  color: #e2e2e2;
}

.submit:hover {
  background: #e2e2e2;
  color: #2e2e2e;
}

.action-form {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.control-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-form label {
  font-size: 1.2rem;
}
.control-form input {
  height: 36px;
  min-width: 310px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #c2c2c2;
  padding: 10px;
  font-size: 1rem;
}
